<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Ajouter un nouvel article sur l'Intelligence Artificielle (IA)</title>
    <meta content="Ajoutez un nouvel article sur l'Intelligence Artificielle pour partager vos connaissances et perspectives sur cette technologie en constante évolution" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="../assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Intelligence Artificielle</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="../assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">[[${session.utilisateur.nom+"   "+session.utilisateur.prenom}]]</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>[[${session.utilisateur.nom+"   "+session.utilisateur.prenom}]]</h6>
                            <span>[[${session.utilisateur.pseudo}]]</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="deconnecter">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Deconnecter</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="/liste-articles-sur-les-meuilleurs-informations-sur-intelligence-artificielle-IA">
          <i class="bi bi-grid"></i>
          <span>Liste article</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/ajouter-article-sur-intelligence-artificielle-IA">
          <i class="bi bi-grid"></i>
          <span>Ajouter article</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="bi bi-grid"></i>
          <span>Categorie</span>
        </a>
      </li><!-- End Dashboard Nav -->

    </ul>

  </aside><!-- End Sidebar-->

<!-- ===== main ====== -->
<main id="main" class="main">

    <!-- <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">Elements</li>
          </ol>
        </nav>
      </div>End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Ajouter un article </h1>
  
                <!-- General Form Elements -->
                <form action="ajouter-article-sur-intelligence-artificielle-IA" method="post" enctype="multipart/form-data" >
                   <div th:if="${message != null}" id="message" class="alert alert-success alert-dismissible fade show" role="alert">
                      [[${message}]]
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <div th:if="${error != null}" id="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                      [[${error}]]
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Titre</label>
                    <div class="col-sm-10">
                        <input name="titre" type="text" class="form-control">
                    </div>
                  </div>
                    
                  <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Categorie</label>
                  <div class="col-sm-10">
                    <select class="form-select"  name="idcategorie">
                      <option th:each="categorie : ${categorie}" th:value="${categorie.id}">[[${categorie.libelle}]]</option>
                    </select>
                  </div>
                </div>

                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Photos</label>
                    <div class="col-sm-10" id="imagediv">
                        <input class="form-control" name="file" type="file" id="formFile">
                    </div>
                  </div>
                    
                  <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Resumé</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="resume" style="height: 100px"></textarea>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Contenu</label>
                    <div class="col-sm-10">
                        <textarea name="contenu" id="editor"></textarea>
                    </div>
                  </div>

                  <div class="row mb-1">
                        <div class="col-lg-4 offset-lg-4">
                            <button class="btn btn-primary w-100" type="submit">Ajouter</button>
                        </div>
                  </div>

                </form><!-- End General Form Elements -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>

</main><!-- End #main -->

<!-- ==== modal ========= -->
<div class="modal fade" id="basicModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Categorie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="input-group mb-3">
              <input type="text" class="form-control"/>
              <button type="button" class="btn btn-primary" style="background-color:white;border-color:gray;" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="ri-search-2-line" style="color:black;font-size:1.2em;"></i></button>
            </div>
          </div>
        </div>
             
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Libelle</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody th:each="categorie : ${categorie}" >
                <tr>
                  <th scope="row">[[${categorie.id}]]</th>
                  <td>[[${categorie.libelle}]]</td>
                  <td><button class="btn btn-primary w-100" type="button" data-bs-dismiss="modal" th:onclick="choicecategorie([[${categorie.id}]],[[${categorie.libelle}]])" >choisir</button></td>
                </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- End Basic Modal-->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/chart.umd.js"></script>
    <script src="../assets/vendor/echarts/echarts.min.js"></script>
    <script src="../assets/vendor/quill/quill.min.js"></script>
    <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector('#editor'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            } )
            .then( editor => {
                window.editor = editor;
            } )
            .catch( err => {
                console.error( err.stack );
            } );
    </script>
    <script>
        //  enlever les alerts
        setTimeout(function() {
          document.getElementById('message').remove();
          document.getElementById('error').remove();
        }, 3000);
        
        //aficher les images
        var formFile = document.getElementById('formFile');
        formFile.addEventListener('change',function (){
           var selectedFile = formFile.files[0];
           var objectUrl = URL.createObjectURL(selectedFile);
           var previmg = document.getElementById('image-upload');
           if (previmg) {
               previmg.parentNode.removeChild(previmg);
           }
           var img = document.createElement('img');
           img.src = objectUrl;
           img.id = 'image-upload';
           var divimage = document.getElementById('imagediv');
           divimage.appendChild(img);
        });
        
</script>
</body>

</html>