<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inscription</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Creer un compte</h5>
                    <p class="text-center small">Entrez vos informations personnelles pour créer un compte</p>
                  </div>

                    <form class="row g-3 needs-validation" action="inscription" method="post" >
                      
                    <div th:if="${error != null}" id="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                      [[${error}]]
                      <button type="button"  class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                      
                      <div th:if="${message != null}" id="message" class="alert alert-success alert-dismissible fade show" role="alert">
                      [[${message}]]
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                    
                      
                    <div class="col-12">
                        <label for="yournom" class="form-label">Nom</label>
                        <input type="text" name="nom" th:value="${utilisateur.nom}" class="form-control" id="yournom" required>
                        <div class="invalid-feedback">veuillez entrer votre nom!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourprenom" class="form-label">Prenom</label>
                        <input type="text" name="prenom" th:value="${utilisateur.prenom}" class="form-control" id="yourprenom" required>
                        <div class="invalid-feedback">veuillez entrer votre prenom!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourpseudo" class="form-label">Pseudo</label>
                        <input type="text" name="pseudo" th:value="${utilisateur.pseudo}" class="form-control" id="yourpseudo" required>
                        <div class="invalid-feedback">veuillez entrer votre pseudo!</div>
                    </div>

                    <div class="col-12">
                        <label for="youremail" class="form-label">Email</label>
                        <input type="email" name="email" th:value="${utilisateur.email}" class="form-control" id="youremail" required>
                        <div class="invalid-feedback">veuillez entrer votre email!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Mot de passe</label>
                      <input type="password" name="motdepasse" th:value="${utilisateur.motdepasse}" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">veuillez entrer votre mot de passe!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourconfirm" class="form-label">(Confirmation) Mot de passe</label>
                        <input type="password" name="confirm" class="form-control" id="yourconfirm" required>
                        <div class="invalid-feedback">veuillez entrer votre mot de passe!</div>
                      </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Creer compte</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">vous avez deja un compte ? <a href="/">Se connecter</a></p>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/chart.js/chart.umd.js"></script>
  <script src="../assets/vendor/echarts/echarts.min.js"></script>
  <script src="../assets/vendor/quill/quill.min.js"></script>
  <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>
  <script>
        setTimeout(function() {
          document.getElementById('message').remove();
          document.getElementById('error').remove();
        }, 3000);
</script>

</body>

</html>